In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
adidas = pd.read_csv('Adidas US Sales Datasets.csv')

In [4]:
adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,01-01-2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$6,00,000","$3,00,000",50%,In-store
1,Foot Locker,1185732,02-01-2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$5,00,000","$1,50,000",30%,In-store
2,Foot Locker,1185732,03-01-2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$4,00,000","$1,40,000",35%,In-store
3,Foot Locker,1185732,04-01-2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$3,82,500","$1,33,875",35%,In-store
4,Foot Locker,1185732,05-01-2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"$5,40,000","$1,62,000",30%,In-store

In [5]:
adidas.shape

(9648, 13)

In [6]:
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int64(1), object(12)
memory usage: 980.0+ KB

In [8]:
df = adidas.drop(['Retailer', 'Retailer ID','Region','City','State','Product'], axis=1)

In [9]:
df.head()

,Invoice Date,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,01-01-2020,$50.00,"1,200","$6,00,000","$3,00,000",50%,In-store
1,02-01-2020,$50.00,"1,000","$5,00,000","$1,50,000",30%,In-store
2,03-01-2020,$40.00,"1,000","$4,00,000","$1,40,000",35%,In-store
3,04-01-2020,$45.00,850,"$3,82,500","$1,33,875",35%,In-store
4,05-01-2020,$60.00,900,"$5,40,000","$1,62,000",30%,In-store

In [12]:
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'], format='%d-%m-%Y')

In [13]:
df['Year'] = df['Invoice Date'].dt.year

In [14]:
df.head()

,Invoice Date,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year
0,2020-01-01,$50.00,"1,200","$6,00,000","$3,00,000",50%,In-store,2020
1,2020-01-02,$50.00,"1,000","$5,00,000","$1,50,000",30%,In-store,2020
2,2020-01-03,$40.00,"1,000","$4,00,000","$1,40,000",35%,In-store,2020
3,2020-01-04,$45.00,850,"$3,82,500","$1,33,875",35%,In-store,2020
4,2020-01-05,$60.00,900,"$5,40,000","$1,62,000",30%,In-store,2020

In [16]:
df = df.drop(['Invoice Date'],axis = 1)

In [17]:
df

,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year
0,$50.00,"1,200","$6,00,000","$3,00,000",50%,In-store,2020
1,$50.00,"1,000","$5,00,000","$1,50,000",30%,In-store,2020
2,$40.00,"1,000","$4,00,000","$1,40,000",35%,In-store,2020
3,$45.00,850,"$3,82,500","$1,33,875",35%,In-store,2020
4,$60.00,900,"$5,40,000","$1,62,000",30%,In-store,2020
...,...,...,...,...,...,...,...
9643,$50.00,64,"$3,200",$896,28%,Outlet,2021
9644,$41.00,105,"$4,305","$1,378",32%,Outlet,2021
9645,$41.00,184,"$7,544","$2,791",37%,Outlet,2021
9646,$42.00,70,"$2,940","$1,235",42%,Outlet,2021
9647,$29.00,83,"$2,407",$650,27%,Outlet,2021

In [18]:
df['Price per Unit'] = df['Price per Unit'].replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\user\AppData\Local\Temp\ipykernel_16412\3151218381.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Price per Unit'] = df['Price per Unit'].replace('[\$,]', '', regex=True).astype(float)

In [20]:
df['Operating Profit'] = df['Operating Profit'].replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\user\AppData\Local\Temp\ipykernel_16412\2368030416.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Operating Profit'] = df['Operating Profit'].replace('[\$,]', '', regex=True).astype(float)

In [21]:
df['Operating Margin'] = df['Operating Margin'].replace('%', '', regex=True).astype(float)

In [22]:
df.head()

,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year
0,50.0,"1,200","$6,00,000",300000.0,50.0,In-store,2020
1,50.0,"1,000","$5,00,000",150000.0,30.0,In-store,2020
2,40.0,"1,000","$4,00,000",140000.0,35.0,In-store,2020
3,45.0,850,"$3,82,500",133875.0,35.0,In-store,2020
4,60.0,900,"$5,40,000",162000.0,30.0,In-store,2020

In [26]:
df['Units Sold'] = df['Units Sold'].replace(',','',regex = True).astype(int)

In [27]:
df['Price per Unit'] = df['Price per Unit'].replace(',','',regex = True).astype(int)

In [28]:
df['Operating Profit'] = df['Operating Profit'].replace(',','',regex = True).astype(int)

In [29]:
df['Operating Margin'] = df['Operating Margin'].replace(',','',regex = True).astype(int)

In [30]:
df.head()

,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year
0,50,1200,"$6,00,000",300000,50,In-store,2020
1,50,1000,"$5,00,000",150000,30,In-store,2020
2,40,1000,"$4,00,000",140000,35,In-store,2020
3,45,850,"$3,82,500",133875,35,In-store,2020
4,60,900,"$5,40,000",162000,30,In-store,2020

In [33]:
df['Total Sales'] = df['Total Sales'].replace('[\$,]','',regex = True).astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\user\AppData\Local\Temp\ipykernel_16412\1434919282.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Total Sales'] = df['Total Sales'].replace('[\$,]','',regex = True).astype(int)

In [34]:
df.head()

,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year
0,50,1200,600000,300000,50,In-store,2020
1,50,1000,500000,150000,30,In-store,2020
2,40,1000,400000,140000,35,In-store,2020
3,45,850,382500,133875,35,In-store,2020
4,60,900,540000,162000,30,In-store,2020

In [35]:
df = df.drop(['Operating Profit'],axis = 1)

In [36]:
df.head()

,Price per Unit,Units Sold,Total Sales,Operating Margin,Sales Method,Year
0,50,1200,600000,50,In-store,2020
1,50,1000,500000,30,In-store,2020
2,40,1000,400000,35,In-store,2020
3,45,850,382500,35,In-store,2020
4,60,900,540000,30,In-store,2020

In [38]:
# One Hot Encoding

In [39]:
df = pd.get_dummies(df, columns=['Sales Method'], drop_first=True)

In [42]:
df['Sales Method_Online'] = df['Sales Method_Online'].astype(int)

In [43]:
df['Sales Method_Outlet'] = df['Sales Method_Outlet'].astype(int)

In [45]:
df.head()

,Price per Unit,Units Sold,Total Sales,Operating Margin,Year,Sales Method_Online,Sales Method_Outlet
0,50,1200,600000,50,2020,0,0
1,50,1000,500000,30,2020,0,0
2,40,1000,400000,35,2020,0,0
3,45,850,382500,35,2020,0,0
4,60,900,540000,30,2020,0,0

In [46]:
# Training and Splitting of Dataset

In [48]:
df.to_csv('preprocessed_data.csv')

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X = df[['Price per Unit', 'Units Sold', 'Operating Margin', 'Year', 'Sales Method_Online', 'Sales Method_Outlet']]  # Independent variables

In [51]:
y = df['Total Sales']  # Dependent variable

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
print(X_train.shape, X_test.shape)

(7718, 6) (1930, 6)

In [54]:
from sklearn.linear_model import LinearRegression

# Initialize the model
model = LinearRegression()

# Train the model on the training set
model.fit(X_train, y_train)

LinearRegression()

In [55]:
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: -48999796.651546374
Coefficients: [  2004.52775895    548.61836782   -933.04757009  24208.76681817
 -27042.93079527 -26045.85908116]

In [56]:
from sklearn.metrics import mean_squared_error, r2_score

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate R-squared (coefficient of determination)
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

Mean Squared Error: 2231178228.8062415
R-squared: 0.8906108978303483

In [57]:
# From this we can conclude that Model's accuracy is approx 89 %

In [58]:
# Pickling the model

In [59]:
import pickle

In [60]:
pickle.dump(model,open('LinearRegressionModel.pkl','wb'))

In [61]:
# Let's Predict

In [62]:
X_test

,Price per Unit,Units Sold,Operating Margin,Year,Sales Method_Online,Sales Method_Outlet
2997,50,400,35,2021,0,0
7903,43,233,54,2020,0,1
4012,48,188,47,2020,1,0
2392,45,650,35,2021,1,0
3284,40,300,40,2021,0,0
...,...,...,...,...,...,...
3578,70,275,35,2021,0,0
9371,16,44,42,2021,0,1
4684,25,56,42,2020,1,0
6414,36,27,52,2021,1,0
604,65,575,50,2020,0,0

In [64]:
model.predict(pd.DataFrame([[78,32,45,2021,0,1]],columns = ['Price per Unit','Units Sold','Operating Margin','Year','Sales Method_Online','Sales Method_Outlet']))

array([31997.04120098])